.top,.mainbox,.flink{width:1004px;margin:0px auto;}
.top_1{padding-top:10px;width:100%;float:left;border:1px solid #D5D6D8;border-top:0px}
.top_1_right{width:644px;float:left;margin-left:20px;margin-top:10px;*margin-top:0px}
.tel dl dt{width:370px;height:62px;float:left}
.tel dl dt img{margin-top:12px}
.tel dl dd{*width:264px;float:right;height:27px;}
.tel dl dd a{height:100%;line-height:27px}
.logo{margin-left:26px;float:left}
.top_nav_01{margin-top:10px}
.top_nav_02{width:100%;height:24px;line-height:24px;margin:10px 0px}
.top_nav_02 a{float:left;margin-right:23px;}
.top_nav_02 a.mrg_0{margin-right:0px;float:right}
.country{width:116px;height:27px;float:left;line-height:27px;background:url(../images/bg_country.jpg) left center no-repeat;border:0px;padding:5px;text-align:center;border:0px}
.language{width:86px;height:27px;line-height:27px;text-align:center;background:url(../images/bg_language.jpg) left center no-repeat;float:left;display:block;margin-left:10px;}
.search .sh_left{width:27px;height:27px;display:block;background:url(../images/bg_search_left.jpg) left center no-repeat;float:left}
.search .sh_middle{width:456px;height:25px;text-indent:6px;line-height:25px;display:block;border:1px solid #CACACA;border-left:0px;float:left}
.search .sh_right{width:38px;height:27px;display:block;border:0px;background:url(../images/bg_search_btn.jpg) left center no-repeat;float:left}
.ajcx{width:104px;height:29px;background:url(../images/bg_ajcx_btn.jpg) left center no-repeat;display:block;float:right}

/* 蓝色导航 begin */
.blue_menu{width:100%;float:left;height:68px;background-color:#0259A5;margin-top:10px}
.blue_menu li{float:left;height:68px}
.blue_menu li dl{margin:10px 4px}
.blue_menu li dl dd{float:left;padding:5px}
.blue_menu li dl dd a{color:#FFF}
.blue_menu li.blue_01{width:144px;}
.blue_menu li.blue_02{width:246px;}
.blue_menu li.blue_03{width:110px;}
.blue_menu li.blue_04{width:144px;}
.blue_menu li.blue_05{width:76px;}
.blue_menu li.blue_06{width:146px;}
.blue_menu li.blue_07{width:120px;}
.blue_menu li.spline{width:3px;height:68px;background:url(../images/bg_bignav_line.jpg) left center no-repeat;}
/* 蓝色导航 end */

/* ad begin */
.ad_01,.ad_02,.ad_03{width:1004px;height:90px;float:left}
.ad_02,.ad_03{margin-top:10px}
/* ad end */

/* top_nav_03 begin */
.banner_nav{width:940px;margin:0px 32px;margin-top:8px;float:left}
.banner_nav li{width:48px;float:left;padding:5px 15px;}
.banner_nav li a{width:100%;float:left;display:block}
/* top_nav_03 end */

/* rc_news begin */
.rc_news{width:100%;float:left;margin-top:8px}
.rc_news dl{width:332px;float:left;}
.rc_news dl dt{width:104px;height:80px;float:left}
.rc_news dl dd{float:left;height:24px;line-height:24px;margin-left:6px;width:220px;}
.rc_news dl dd.title_b{font-size:14px;font-weight:bold;color:#0059A9;margin-top:4px}
/* rc_news end */

/* main_nav begin */
.main_nav{width:1002px;height:42px;background:url(../images/bg_middle_nav.jpg) left center repeat-x;display:block;float:left;border:1px solid #D2D6D9;margin-top:8px}
.main_nav li{float:left;padding:14px 18px}
.main_nav li a{color:#;}
.main_nav li a:hover{color:#cd0200;}
/* main_nav end */

/* top_2 begin */
.top_2{width:100%;float:left;margin-top:8px}
.category{width:188px;border:1px solid #CAD9DE;float:left;background-color:#F1F5F8 ;}
.category h2{font-size:12pt;font-weight:bold;font-family:"微软雅黑";color:#BE141D;text-align:center;margin-top:10px}
.category ul{margin-top:10px;}
.category ul li{width:100%;background:url(../images/bg_dashed.jpg) bottom left repeat-x;height:32px;line-height:32px;text-indent:12px;position:relative}
.category ul li.out{background:url(../images/bg_dashed.jpg) bottom left repeat-x;}
.category ul li a{width:96%;display:block;background:url(../images/icon_arrow_01_right.jpg) center right no-repeat; color:#0463B5}
.category ul li.cur{background-color:#FFF;border:1px solid #CAD9DE;border-right:0px;border-left:0px;background-image:none}
.category ul li.cur a{background:none;}
.category ul li.none,.category ul li.more a{background:none;text-decoration:none}
.category ul li.more{height:12px;background:url(../images/icon_slidedown.jpg) bottom center no-repeat;float:left}
.category ul li.more a{height:12px;}

.catgry_box{position:absolute;padding:16px 10px;left:188px;top:-20px;z-index:2;background-color:#FFF;border:1px solid #ccc;border-left:0px;width:560px;}
.catgry_box h3{width:72px;height:22px;line-height:22px;font-weight:bold;color:#CB373E;font-family:"黑体";font-size:14px;float:left;}
.catgry_box dl{width:488px;float:left}
.catgry_box dl dd{float:left;margin:4px 0px;*padding:0px 8px;padding:0px 8px;border-right:1px solid #ccc;height:14px;line-height:14px;text-indent:0px;white-space:nowrap}
.catgry_box dl dd a{float:left;width:100%;background-image:none;color:#5D5C5C;text-align:center;text-indent:0px}
.bt_line{width:540px;height:1px;border-bottom:1px solid #ccc;float:left;margin:6px 0px 6px 13px;}

.banner{width:810px;float:left;margin-left:4px}
.roll_img{width:808px;height:164px;border:1px solid #D2D6D9;margin-top:4px}
a.left_control,a.right_control{width:32px;height:164px;display:block;float:left;}
a.left_control:hover,a.right_control:hover{text-decoration:none}
.left_control{background:url(../images/icon_arrow_02_left.jpg) center center no-repeat;}
.right_control{background:url(../images/icon_arrow_02_right.jpg) center center no-repeat;}
.roll_img ul{width:740px;height:164px;float:left}
.roll_img ul li{float:left;margin:26px 0px}
.roll_img ul li .pic{width:120px;height:97px;border:1px solid #D2D6D9;margin:0px 13px}
.roll_img ul li .title{width:148px;height:24px;line-height:24px;text-align:center}
.roll_img .tempWrap{float:left;*z-index:-1;}

/* top_2 end */

/* newsbox begin */
.news_box{width:100%;float:left;margin-top:10px}
.left_news{width:278px;float:left;border:1px solid #6989AF}
.left_news h2{font-size:12pt;font-family:"黑体";color:#025AA1;font-weight:bold;text-align:center;margin-top:15px}
.left_news ul{width:226px;margin:0px auto;}
.left_news ul li{height:24px;line-height:24px;margin:8px 0px;background:url(../images/icon_square_01.gif) left center no-repeat;padding-left:10px}
.left_news ul li a{width:100%;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.right_news{width:712px;margin-left:10px;float:left;}
.tab_news{width:100%;float:left;background:url(../images/bg_news_list.jpg) left top repeat-x;border:1px solid #D4D8DB;}
.tab_news span.menu_title{font-size:12pt;font-weight:bold;color:#0162B1;float:left;margin:10px 0px 10px 10px;font-family:"黑体"}
.tab_news a.more{float:right;margin:10px 10px 10px 0px;color:#166CB9}
.tab_box{width:100%;float:left}
.tab_title{float:left;width:702px;margin-left:4px;border-bottom:1px solid #B80000;}
.tab_title li{float:left;width:74px;height:32px;line-height:32px;border-right:1px solid #ccc;border-top:1px solid #ccc;text-align:center;background:url(../images/bg_nav_white.jpg) left center repeat-x;}
.tab_title li.cur{background-image:none;background-color:#B80000}
.tab_title li.cur a{color:#FFF}
.tab_title li a{width:100%;float:left;font-size:10pt;font-family:"微软雅黑";font-weight:bold}
.tab_content{float:left;width:702px;margin-left:6px}
.tab_content li{height:29px;line-height:29px;background:url(../images/icon_square_01.gif) left center no-repeat;padding-left:10px}
.tab_content li a{width:100%;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* newsbox end */

/* flink begin */
.flink{background:#87888A;margin-top:10px;color:#333}
.flink li{padding:10px;float:left}
.flink li a{color:#FFF}
/* flink end */
















