/* 蓝色导航 begin */
.blue_menu{width:100%;float:left;height:68px;background-color:#0259A5;margin-top:10px}
.blue_menu li{float:left;height:68px}
.blue_menu li dl{margin:10px 4px}
.blue_menu li dl dd{float:left;padding:5px}
.blue_menu li dl dd a{color:#FFF}
.blue_menu li.blue_01{width:144px;}
.blue_menu li.blue_02{width:246px;}
.blue_menu li.blue_03{width:110px;}
.blue_menu li.blue_04{width:144px;}
.blue_menu li.blue_05{width:76px;}
.blue_menu li.blue_06{width:146px;}
.blue_menu li.blue_07{width:120px;}
.blue_menu li.spline{width:3px;height:68px;background:url(../images/bg_bignav_line.jpg) left center no-repeat;}
/* 蓝色导航 end */

/* banner_nav begin */
.banner_nav{width:940px;margin:0px 32px;margin-top:8px;float:left}
.banner_nav li{width:48px;float:left;padding:5px 15px;}
.banner_nav li a{width:100%;float:left;display:block}
/* banner_nav end */

/* top_2 begin */
.top_2{width:100%;float:left;margin-top:8px}

.banner{width:810px;float:left;margin-left:4px}
.roll_img{width:808px;height:164px;border:1px solid #D2D6D9;margin-top:4px}
a.left_control,a.right_control{width:32px;height:164px;display:block;float:left;}
a.left_control:hover,a.right_control:hover{text-decoration:none}
.left_control{background:url(../images/icon_arrow_02_left.jpg) center center no-repeat;}
.right_control{background:url(../images/icon_arrow_02_right.jpg) center center no-repeat;}
.roll_img ul{width:740px;height:164px;float:left}
.roll_img ul li{float:left;margin:26px 0px}
.roll_img ul li .pic{width:120px;height:97px;border:1px solid #D2D6D9;margin:0px 13px}
.roll_img ul li .title{width:148px;height:24px;line-height:24px;text-align:center}
.roll_img .tempWrap{float:left;*z-index:-1;}

/* top_2 end */

/* newsbox begin */
.news_box{width:100%;float:left;margin-top:10px}
.left_news{width:278px;float:left;border:1px solid #6989AF}
.left_news h2{font-size:12pt;font-family:"黑体";color:#025AA1;font-weight:bold;text-align:center;margin-top:15px}
.left_news ul{width:226px;margin:0px auto;}
.left_news ul li{height:24px;line-height:24px;margin:8px 0px;background:url(../images/icon_square_01.gif) left center no-repeat;padding-left:10px}
.left_news ul li a{width:100%;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.right_news{width:712px;margin-left:10px;float:left;}
.tab_news{width:100%;float:left;background:url(../images/bg_news_list.jpg) left top repeat-x;border:1px solid #D4D8DB;}
.tab_news span.menu_title{font-size:12pt;font-weight:bold;color:#0162B1;float:left;margin:10px 0px 10px 10px;font-family:"黑体"}
.tab_news a.more{float:right;margin:10px 10px 10px 0px;color:#166CB9}
.tab_box{width:100%;float:left}
.tab_title{float:left;width:702px;margin-left:4px;border-bottom:1px solid #B80000;}
.tab_title li{float:left;width:74px;height:32px;line-height:32px;border-right:1px solid #ccc;border-top:1px solid #ccc;text-align:center;background:url(../images/bg_nav_white.jpg) left center repeat-x;}
.tab_title li.cur{background-image:none;background-color:#B80000}
.tab_title li.cur a{color:#FFF}
.tab_title li a{width:100%;float:left;font-size:10pt;font-family:"微软雅黑";font-weight:bold}
.tab_content{float:left;width:702px;margin-left:6px}
.tab_content li{height:29px;line-height:29px;background:url(../images/icon_square_01.gif) left center no-repeat;padding-left:10px}
.tab_content li a{width:100%;float:left;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
/* newsbox end */