body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font:12px "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;color:#5D5C5C}
a{color:#5D5C5C;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.clearfix:after{clear: both;content: ".";display: block;height:0px;visibility: hidden;}
.mt10{margin-top:12px;*margin-top:18px}
.mt8{margin-top:8px;}

/* ad begin */
.ad_01,.ad_02,.ad_03{width:1004px;height:90px;float:left}
.ad_02,.ad_03{margin-top:10px}
/* ad end */

.top,.mainbox,.flink{width:1004px;margin:0px auto;}
.top_1{padding-top:10px;width:1002px;float:left;border:1px solid #D5D6D8;border-top:0px}
.top_1_right{width:644px;float:left;margin-left:20px;margin-top:10px;*margin-top:0px}
.tel dl dt{width:370px;height:62px;float:left}
.tel dl dt img{margin-top:12px}
.tel dl dd{*width:264px;float:right;height:27px;}
.tel dl dd a{height:100%;line-height:27px}
.logo{margin-left:26px;float:left}
.top_nav_01{margin-top:10px}
.top_nav_02{width:100%;height:24px;line-height:24px;margin:10px 0px}
.top_nav_02 a{float:left;margin-right:23px;}
.top_nav_02 a.mrg_0{margin-right:0px;float:right}
.country{width:116px;height:27px;float:left;line-height:27px;background:url(../images/bg_country.jpg) left center no-repeat;border:0px;padding:5px;text-align:center;border:0px}
.language{width:86px;height:27px;line-height:27px;text-align:center;background:url(../images/bg_language.jpg) left center no-repeat;float:left;display:block;margin-left:10px;}
.search .sh_left{width:27px;height:27px;display:block;background:url(../images/bg_search_left.jpg) left center no-repeat;float:left}
.search .sh_middle{width:456px;height:25px;text-indent:6px;line-height:25px;display:block;border:1px solid #CACACA;border-left:0px;float:left}
.search .sh_right{width:38px;height:27px;display:block;border:0px;background:url(../images/bg_search_btn.jpg) left center no-repeat;float:left}
.ajcx{width:104px;height:29px;background:url(../images/bg_ajcx_btn.jpg) left center no-repeat;display:block;float:right}

/* rc_news begin */
.rc_news{width:100%;float:left;margin-top:8px}
.rc_news dl{width:332px;float:left;}
.rc_news dl dt{width:104px;height:80px;float:left}
.rc_news dl dd{float:left;height:24px;line-height:24px;margin-left:6px;width:220px;}
.rc_news dl dd.title_b{font-size:14px;font-weight:bold;color:#0059A9;margin-top:4px}
/* rc_news end */

/* main_nav begin */
.main_nav{width:1002px;height:42px;background:url(../images/bg_middle_nav.jpg) left center repeat-x;display:block;float:left;border:1px solid #D2D6D9;margin-top:8px}
.main_nav li{float:left;padding:14px 18px}
.main_nav li a{color:#;}
.main_nav li a:hover{color:#cd0200;}
/* main_nav end */

/* roll news begin */
.roll_news{width:100%;height:44px;margin:4px 0px;float:left;position:relative;}
.roll_newsbox{position:absolute;left:192px;width:812px}
.roll_newsbox h3{width:88px;height:42px;line-height:42px;float:left;color:#0259A5;text-indent:10px}
.roll_newsbox ul{float:left;}
.roll_newsbox ul li{height:42px;line-height:42px;float:left;}
.roll_newsbox ul li a{color:#0259A5;font-size:12px;margin:0px 2px}
/* roll news end */

/* category begin */
.category{width:188px;border:1px solid #CAD9DE;float:left;background-color:#F1F5F8 ;}
.category h2{font-size:12pt;font-weight:bold;font-family:"微软雅黑";color:#BE141D;text-align:center;margin-top:10px}
.category ul{margin-top:10px;}
.category ul li{width:100%;background:url(../images/bg_dashed.jpg) bottom left repeat-x;height:32px;line-height:32px;text-indent:12px;position:relative}
.category ul li.out{background:url(../images/bg_dashed.jpg) bottom left repeat-x;}
.category ul li a{width:96%;display:block;background:url(../images/icon_arrow_01_right.jpg) center right no-repeat; color:#0463B5}
.category ul li.cur{background-color:#FFF;border:1px solid #CAD9DE;border-right:0px;border-left:0px;background-image:none}
.category ul li.cur a{background:none;}
.category ul li.none,.category ul li.more a{background:none;text-decoration:none}
.category ul li.more{height:12px;background:url(../images/icon_slidedown.jpg) bottom center no-repeat;float:left}
.category ul li.more a{height:12px;}
.category42{height:42px;overflow:hidden;position:absolute;}
.category42 h2{cursor:pointer;}
.triangle{border-color:#333 #F1F5F8 #F1F5F8 #F1F5F8;border-style:solid;border-width:6px;width:0px;height:0px;float:right;margin:10px 10px 0px 0px}

.catgry_box{position:absolute;padding:16px 10px;left:188px;top:-20px;z-index:2;background-color:#FFF;border:1px solid #ccc;border-left:0px;width:560px;}
.catgry_box h3{width:72px;height:22px;line-height:22px;font-weight:bold;color:#CB373E;font-family:"黑体";font-size:14px;float:left;}
.catgry_box dl{width:488px;float:left}
.catgry_box dl dd{float:left;margin:4px 0px;*padding:0px 8px;padding:0px 8px;border-right:1px solid #ccc;height:14px;line-height:14px;text-indent:0px;white-space:nowrap}
.catgry_box dl dd a{float:left;width:100%;background-image:none;color:#5D5C5C;text-align:center;text-indent:0px}
.bt_line{width:540px;height:1px;border-bottom:1px solid #ccc;float:left;margin:6px 0px 6px 13px;}
/* category end */


.foot{width:1004px;margin:0px auto;margin-top:10px}
/* 底部导航 begin */
.fmenu{width:100%;float:left;margin:0px 0px 5px 0px}
.fmenu li{float:left;padding:0px 14px;border-right:1px solid #ccc}
.fmenu li.none{border-right:none}
.copyright{width:100%;float:left}
.copyright p{width:100%;height:24px;line-height:24px;text-align:center}
/* 底部导航 end */

/* flink begin */
.flink{background:#87888A;margin-top:10px;color:#333}
.flink li{padding:10px;float:left}
.flink li a{color:#FFF}
/* flink end */

